{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-transform-runtime",
    "@babel/plugin-transform-react-constant-elements",
    "babel-plugin-transform-react-remove-prop-types",
    "@babel/plugin-proposal-class-properties",
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "widgets": "./widgets",
        "server": "./server",
        "~": "./"
      }
    }]
  ]
}
