.w-widgets .cht-mf-in {
  height: 50vh;
  max-height: 30rem;
  overflow-y: auto;
}
.w-widgets .cht-mf-in::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.w-widgets .cht-mf-in .cht-msg {
  display: flex;
  width: 100%;
}
.w-widgets .cht-mf-in .cht-msg:hover .cht-msg__icns {
  display: flex;
}

.w-widgets .cht-mf-in .cht-msg__user {
  justify-content: flex-end;
}

.w-widgets .cht-msg .cht-msg__msg {
  font-size: 0.8rem;
  padding: .7rem;
  background-color: #05d27d;
  border-radius: 15px;
  border-top-left-radius: 3px;
}
.w-widgets .cht-msg .cht-msg__msg.user {
  border-top-right-radius: 3px;
  border-top-left-radius: 10px;
}

.w-widgets .cht-msg__icns {
  display: none;
}
.w-widgets .cht-msg__icns svg path {
  fill: var(--color-grey-1);
}
.w-widgets .cht-msg__icns svg:hover path {
  fill: #000;
}
