.w-widgets .w-cht-cl {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to bottom, #019a38, #00dc4f);
  transition: transform .3s, backgrond-color .3s;
}

.w-widgets .w-cht-cl svg {
  color: #fff;
  margin-top: 3px;
}

.w-widgets .w-cht-cl:hover {
  background: #fff;
  transform: scale(1.1);
}
.w-widgets .w-cht-cl:hover svg {
  color: #00dc4f;
}
