.w-widgets .cht-inf {
  position: relative;
}

.w-widgets .cht-inf__btn {
  position: absolute;
  top: 1.8rem;
  right: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  cursor: pointer;
}

.w-widgets .cht-inf__btn svg {
  transform: rotate(270deg);
  transition: transform .3s;
  margin-left: 3px;
  color: var(--color-green-light);
}

.w-widgets .cht-inf__btn:hover svg {
  transform: rotate(270deg) scale(1.2);
}
.w-widgets .cht-inf__btn:hover svg path {
  fill: var(--color-green-light);
}
.w-widgets .cht-inf__btn:hover {
  background-color: #fff;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
